p {
    margin-top: 20px
}

li {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
}

.image-tests {
    padding: 5px;
}

#cropper {
    height: 400px;
    margin-top: 20px;
}

#myForm {
    margin: auto;
}

.prediction {
    max-width: 600px;
    margin: auto;
    height:80px;
    margin-bottom: 10px;
}

.image-prediction {
    height: 100%;
}

.section {
    padding: 0;
}

.selected-style {
    outline: 2px deepskyblue solid;
}

#dropArea {
    height: 300px;
    max-width: 500px;
    background-color: rgb(240, 240, 240);
    border: 4px dashed rgb(42, 63, 121);
    border-radius: 5px;
    display: flex;
    justify-content: center;

    align-items: center;
    margin: auto;
    -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
}

#dropArea.draggedOver {
    border: 4px dashed rgba(42, 63, 121, 0);
}

.dragover {
    border: 0;
    border-radius: 25px;
    fill: lightblue;
    background-color: rgb(230, 230, 230) !important;
}

#textInfo {
    display: flex;
    justify-content: space-between;
    color: rgb(42, 63, 121);
    width: 100%;
    font-size: 200%;
}

#textInfoText {
    line-height: 50px;
    margin: auto;
}

#cropper canvas {
    visibility: hidden;
}

#cameraButton {
    width: 50px;
    height: 50px;
    margin-left: auto;
    float: right;
    margin-right: 20%;
    opacity: 0.7;
}

#textInfo.draggedOver {
    color: rgb(100, 100, 100);
}

#uploadIcon.draggedOver {
    visibility: hidden;
}

#uploadIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    fill: rgb(42, 63, 121);
}

#uploadIcon:hover, #uploadIcon:active {
    fill: rgb(77, 117, 224);
}

h4 {
    overflow:hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 1.3 rem;
}

.description_box {
    margin: auto;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
    margin-top: 100px;
}


.image_description {
    width: 95%;
    margin: 15px;
    padding: 10px;
    border: 1px darkgrey solid;
}

.description {
    padding: 5px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

p {
    text-align:justify
}

img {
    vertical-align: middle
}

@media (max-width: 700px) {

    .image-prediction {
        max-width: 80px;
        height: auto
    }

    #logo_header {
        height: 40px;
    }

    h1 {
        font-size: 160%;
    }

    body {
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: white;
    }

    
    #dropArea {
        border: none
    }

    .description_box {
        margin-top: 20px;
    }

    #youtube_video {
        padding: 0;
        width: 100%;
    }
    
    #appContainer {
        padding: 0px;
        width: 100%;        
    }

    .image_description {
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 15px;
        width: initial;
        max-width: 100%;
        padding: 0;
        border: 1px darkgrey solid;
    }

    #myForm {
        margin: 0;
    }

}